body { margin:0px;}
table.main_table {background:url('../img/gypsy-dance.jpg') no-repeat; background-position:bottom right; background-color:#FFFFFF;}
table.logo {padding-left:12px; padding-right:12px;}
img.logo {text-align:left;}
p { color: #3B3B3B; font-size:84%; font-family:Arial, Helvetica, sans-serif;}
p.caption1 {font-size:+1;}
ul { margin-top:0px;}
li { color: #3B3B3B; font-size:84%; font-family:Arial, Helvetica, sans-serif;}
dl { margin-top:0px;}
dt { color: #3B3B3B; font-size:84%; font-family:Arial, Helvetica, sans-serif;}
dd { color: #3B3B3B; font-size:84%; font-family:Arial, Helvetica, sans-serif;}
td {text-align:center;}
td.down_line { color: #3B3B3B; font-size:84%; text-align:center; font-family:Arial, Helvetica, sans-serif;}
td.news_caption { color: #3B3B3B; padding-left:40px; padding-bottom: 10px; font-weight:900; font-size:90%; font-family:Arial, Helvetica, sans-serif;}
td.news_text { color: #3B3B3B; font-size:85%; font-family:Arial, Helvetica, sans-serif;}
td.phone {text-align:right; padding-right:60px;}
div.content {padding-left: 50px; min-height: 900px;}
div.news_block {min_height:160px;}
div.menu_block {}
div.studio_block {margin_right:45px;}
div.phone_block {margin-right:45px;}
h1 {color: #3B3B3B; text-align:center; padding-top:15px; padding-bottom:10px; font-size:140%; font-weight:900; font-family:Arial, Helvetica, sans-serif;}
h2 {color: #3B3B3B; text-align:left; padding-bottom:0px; padding-left:50px; font-size:110%; font-weight:900; font-family:Arial, Helvetica, sans-serif;}
h3 {color: #3B3B3B; text-align:center; font-size:100%; font-weight:900; font-family:Arial, Helvetica, sans-serif;}
a{font-family:Verdana, Arial, Helvetica, sans-serif;}
a.menu { color:#3B3B3B; font-size:100%; line-height:130%; font-weight:300; text-decoration:none; border-bottom: 1px dotted;}
a.menu:hover { color:#EE0404; font-size:100%; font-weight:300; text-decoration:none; border-bottom: none;}
span.menu_sel { color:#3B3B3B; font-size:100%; line-height:130%; font-weight:300; text-decoration:none; }
a { color:#3B3B3B; font-size:100%; text-decoration:underline; }
a:hover { color:#3B3B3B; font-size:100%; text-decoration:none; }
ul.quote { list-style-type:none; }
                     `               `                                        